h1 {
    color: red; 
    text-align: center;
}
.derp {
    color: green; 
    text-align: center;
}
#pulga {
    color: blue; 
    text-align: center;
}
body {
    color: black;
    text-align: center;
}
    
